body{background: linear-gradient(to bottom, goldenrod,black, goldenrod);
     display: flex;
     flex-direction: column;
     gap: 2vh;
}
.sec{border: none;
    width: 100vw;
    height: 20vh;
    display: flex;
}
#sec1{
    gap:1vw ;
    justify-content: end;
    height: 10vh;

}

.media{ border: 1px solid whitesmoke;
        width: 10%;
        height: 40%;
        position: relative;
        top:2%;
        right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(to right, goldenrod);
        border-radius: 50px;

}

#sec2{
    gap: 44vw;
    align-items: center;
    
}
.bio{display: flex;
    border: 3px solid whitesmoke;
     max-width: 55ch;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    position: relative;
    left: 5vw;
    border-radius: 2rem;
    background: linear-gradient( to bottom,goldenrod,);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

#photo{display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

#sec3{display: flex;
    flex-direction: column;
    min-height: 50vh;
    gap: 4vh;
    align-items: center;


}

.skill{ 
       border: 2px solid whitesmoke;
       width: fit-content;
       display: flex;
       font-size: 1.5rem;
       border-radius: 50%;
       position: relative;
       top: 2vh;
       font-weight: bold;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       color: goldenrod;

}

.disc{ border: 2px solid whitesmoke;
    color: goldenrod;
    max-width: 55ch;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius:2rem ;
}
#sec0{
    max-height: 8vh;
    justify-content: end;
    border: none;
}
.name{border: 1px solid goldenrod;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 4vw;
    color: gold;
     background: linear-gradient(to bottom,goldenrod,black,goldenrod);
     border-radius: 2rem;
    
}
#sec4{min-height: 40vh;
    flex-direction: column;
    gap: 2vh;
    position: relative;
    top: 10vh;
    
    

}

.contact{border: 2px solid whitesmoke;
     border-top-left-radius: 2rem;
     border-bottom-right-radius: 2rem;
     border-top-right-radius: 4rem;
     border-bottom-left-radius: 4rem;
     max-width: fit-content;
     position: relative;
     top: 5vh;
     left: 72vw;
    background:linear-gradient(to bottom, black,gold,black);
    font-size: 1.5rem;
}
.phone{border: 2px solid whitesmoke;
    border-radius: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: relative;
    top: 5vh;
    left: 70vw;
    max-width: fit-content;
     justify-content: center;
     align-items: center;
    background:linear-gradient(to bottom, black,whitesmoke,black);

    
    }

#phoneicon{width: 2rem;
           height: 2rem;
           border-radius: 50%;
        } 
        

.email{border: 2px solid whitesmoke;
    border-radius: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: relative;
    top: 5vh;
    left: 70vw;
    text-align: center;
    align-items: center;
    max-width: fit-content;
    background:linear-gradient(to bottom, black,whitesmoke,black);
    

}
#emailicon{width: 2rem;
           height: 2rem; 
           border-radius: 50%;
        } 
.telegram{border: 2px solid whitesmoke;
           border-radius: 4rem;
           display: flex;
           flex-direction: row;
           gap: 1vw;
          position: relative;
          top: 5vh;
           left: 70vw;
           text-align: center;
           align-items: center;
           max-width: fit-content;
           color: black;
            background:linear-gradient(to bottom, black,whitesmoke,black);
            }
             
#telegramicon {width: 2rem;
           height: 2rem;
           border-radius: 50%;
        }
.bio:hover{ border: 2px solid black;box-shadow: 10px 10px 10px black;
}
.disc:hover{ border: 2px solid black;box-shadow: 10px 10px 10px goldenrod;
}
.skill:hover{ border: 2px solid black;box-shadow: 10px 10px 10px goldenrod;
}
.name:hover{ box-shadow: 10px 10px 10px black;
}

.email:hover{ border: 2px solid black;box-shadow: 10px 10px 10px whitesmoke;
}
.telegram:hover{ border: 2px solid black;box-shadow: 10px 10px 10px whitesmoke;
}

.media:hover{ border: 2px solid black;box-shadow: 10px 10px 10px whitesmoke;
}

ul{ list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: relative;
  bottom: 2.5vh;
}
h2{border: 1px solid goldenrod;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: gold;
     background: linear-gradient(to bottom,goldenrod,black,goldenrod);
     border-radius: 2rem;
     position: relative;
     left: 1vw;



}

#document{display: flex;
          flex-direction: column;
          min-height: 50vh;
          color: whitesmoke;


}

.btn{border: 1px solid goldenrod;
    color: blue;
    border-radius: 2rem;
    background: linear-gradient(to bottom,blue,white,blue);
    display: inline-block;
    text-decoration: none;

    
}

.list{ display: flex;
    position: relative;
    left: 9vw;
    min-height: 4vh;
}

.btn:hover{ border: 2px solid blue;box-shadow: 0.3rem 0.3rem 0.3rem blue;
}